.typing-effect {
  /* font-size: 1.5em; */
  /* border-right: 2px solid #333;  */
  padding-right: 8px; 
  display: inline-block;
  overflow: hidden;
}

.blinking-cursor {
  animation: blink 1s infinite; /* Adjust the blinking speed */
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
