:root {
  --form-field-width: 500px;
}
.contact-subheading {
  color: #23c3c9;
  text-align: center;
}
.form-box {
  width: var(--form-field-width);
  height: fit-content;

  background-color: #1e242c;
}
.contact-box-container {
  margin-top: 30px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.submit-button {
  display: flex;
  align-items: flex-start;
  width: var(--form-field-width);
  justify-content: flex-end;
}
#input-field {
  all: unset;
  margin: 10px;
  color: white;
}
#txtarea-field {
  color: white;
  padding: 10px;
  background: transparent;
  border: none;
  height: 100%;
  width: 100%;
  min-width: var(--form-field-width);
  max-width: var(--form-field-width);
  max-height: var(--form-field-width);
  min-height: 100px;
  &:focus {
    outline: none;
  }
}
.error-message {
  margin: 5px;
  color: red;
  font-size: 10px;
  text-align: start;
}
.contact-form {
  flex-grow: 1;
}

.grid-container {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-rows: repeat(2, 1fr); /* Two columns with equal width */
  gap: 16px; /* Adjust the gap between grid items as needed */
}
.social-handles {
  align-self: center;
}
@media (max-width: 1250px) {
  :root {
    --form-field-width: 300px;
  }
}
