@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.main-container {
  margin: 0;
  padding: 0;
}
/* basic styles global  */
.gold {
  color: gold;
}
.white {
  color: white;
}
.single-line {
  display: flex;
  flex-direction: row;
}
.full-w {
  width: 100%;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.align-c {
  align-items: center;
}
.text-c {
  text-align: center;
}
.height-20px-box {
  min-height: 20px;
  max-height: 20px;
}
