@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.main-container {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
/* basic styles global  */
.gold {
  color: gold;
}
.white {
  color: white;
}
.single-line {
  display: flex;
  flex-direction: row;
  margin: 5px !important;
}
.full-w {
  width: 100%;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.align-c {
  align-items: center;
}
.text-c {
  text-align: center;
}
.height-20px-box {
  min-height: 20px;
  max-height: 20px;
}
.layer {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal-content {
  z-index: 11;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  border: 1px solid #888;
  width: 600px;
  height: 80%;
}
.model-iframe {
  height: 70%;
}
.modal-footer {
  padding: 0 20px;
  height: 25%;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.modal-heading {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.button-highlight {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
i {
  cursor: pointer;
  &:hover {
    scale: 1.1;
  }
}
.s13 {
  scale: 1.3;
}
.h20 {
  min-height: 20px;
  max-height: 20px;
}
*::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1250px) {
  .modal-content {
    width: 90vw;
    height: 80%;
  }
}
